/* header, footer */
body > * {min-width:430px;}

/* 작업물 표시 */
#work {color: #f56f98;}

/* header */
header {width:100%; margin:0 auto;}
/* header top */
header .h_top_bg {border-bottom:1px solid #E01883; padding:10px 0;}
header .h_top_bg .h_top {
    width:calc(100% - 440px); margin:0 auto;
    display:flex; align-items: center;
    justify-content:space-between;
}
header .h_top_bg .h_top .sns_icon {}
header .h_top_bg .h_top .sns_icon a {
    display:inline-block;
    width:35px; height:35px;
    margin-right:10px;
}
header .h_top_bg .h_top .sns_icon a:last-child {margin-right:0;}
header .h_top_bg .h_top .sns_icon a img {
    width:100%;
    border-radius:50%; border:1px solid #D3C7C0;
}
header .h_top_bg .h_top h1 {
    width:80px; height:80px;
}
header .h_top_bg .h_top h1 a {
    display:inline-block;
}
header .h_top_bg .h_top h1 a img {width:100%;}
header .h_top_bg .h_top .search {
    display:flex; align-items:center;
}
header .h_top_bg .h_top .search a {
    font-size:0.75rem; letter-spacing:-0.02em;
    margin-right:20px;
}
header .h_top_bg .h_top .search a:last-child {
    margin-right:0; font-family: 'Baloo 2', cursive;
}
header .h_top_bg .h_top .search a img {
    width:50px;
    border-radius:50%; border:1px solid #D3C7C0;
}

/* header btm */
header .h_btm_bg {
    border-bottom:2px solid #224289;
    position:relative;
}
header .h_btm_bg .h_btm {
    width:calc(100% - 440px); margin:0 auto;
    display:flex;
    justify-content:space-between;
}
header .h_btm_bg .h_btm .login {
    width:12%;
    display: flex; align-items: center;
}
header .h_btm_bg .h_btm .login a {
    display:inline-block;
    letter-spacing:-0.02em;
    margin-left:50px;
    padding:15px 0;
    font-family: 'Baloo 2', cursive;
}
header .h_btm_bg .h_btm .login a:first-child {margin-left:0; color:#f56f98;}
header .h_btm_bg .h_btm .nav {
    width:88%; display:flex;
    align-items: center;
    justify-content:space-between;
    z-index:100;
}
header .h_btm_bg .h_btm .nav .line {
    padding:8px 0 15px;
    color:#f56f98; 
}
header .h_btm_bg .h_btm .nav > a {
    display:inline-block; 
    width:180px; text-align:center;
    letter-spacing:-0.02em; font-weight:500;
    padding:15px 0 13px;
    font-family: 'Baloo 2', cursive;
    font-size: 1.12rem;
}
header .h_btm_bg .h_btm .nav > a:nth-child(4) {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem; 
    padding:15px 0;
}

/* open nav */
header .h_btm_bg .open_nav_bg {
    z-index: 999;
    background:#fff;
    width:100%; margin:0 auto;
    padding-top:20px;
    position:absolute; top:48px;
    border-bottom:1px solid #f56f98;
}
header .h_btm_bg .open_nav_bg .open_nav {
    width:calc(100% - 440px); margin:0 auto;
    display:flex; justify-content:space-between;
}
header .h_btm_bg .open_nav_bg .open_nav .login_wrap {
    width:12%; z-index:999;
}
header .h_btm_bg .open_nav_bg .open_nav .login_wrap .login { 
    display:flex; flex-flow:row nowrap;
    margin-top:50px;
}
header .h_btm_bg .open_nav_bg .open_nav .login_wrap .login li {}
header .h_btm_bg .open_nav_bg .open_nav .login_wrap .login li a {width:70px;}
header .h_btm_bg .open_nav_bg .open_nav .login_wrap .login li a img {width:70px;}
header .h_btm_bg .open_nav_bg .open_nav .login_wrap .login li p {
    font-size:0.75rem; letter-spacing:-0.02em;
    line-height:17px;
}
header .h_btm_bg .open_nav_bg .open_nav .login_wrap .login li p em {color:#FFD12F;}
header .h_btm_bg .open_nav_bg .open_nav .gnb_wrap {
    display:flex; justify-content:space-between;
    width:88%;
    z-index:999;
}
header .h_btm_bg .open_nav_bg .open_nav .gnb_wrap .gnb {
    display:flex; flex-flow:column nowrap;
}
header .h_btm_bg .open_nav_bg .open_nav .gnb_wrap .gnb li {/* padding-top:10px; */}
header .h_btm_bg .open_nav_bg .open_nav .gnb_wrap .gnb li a {
    color:#aaa;
    display:inline-block; text-align:center;
    padding:10px 0; width:180px;
}
header .h_btm_bg .open_nav_bg .open_nav .gnb_wrap .gnb li a:hover {color:#f56f98;}
/* 개별 */
header .h_btm_bg .open_nav_bg .open_nav .gnb_wrap .month li {margin:0; height:237px;}
header .h_btm_bg .open_nav_bg .open_nav .gnb_wrap .month li a {padding:0; height:0px;}
header .h_btm_bg .open_nav_bg .open_nav .gnb_wrap .month li a img {width:180px;}
header .h_btm_bg .open_nav_bg .open_nav .gnb_wrap .line {opacity:0;}

/* t_header 숨겨놓기 */
header .t_header_bg {display: none;}


/* footer */
footer {
    width:100%; margin:0 auto; border-top:1px solid #f56f98;
}
footer > * {width:calc(100% - 440px); margin:0 auto;}
footer * {font-size:0.75rem; letter-spacing:-0.02em;}
footer .f_top {
    /* background:pink; */
    display:flex; justify-content:space-between;
}
footer .f_top a {display:inline-block; padding:50px 0 20px 0; font-size: 1rem; color:#aaa;}
footer .f_top a:hover {color:#f56f98;}
footer .logo {text-align:center;}
footer .logo a {display:inline-block; padding:10px 0;}
footer .logo a img {}
footer .f_btm {padding:20px 0 50px 0;}
footer .f_btm address {
    display:flex; justify-content:center;
}
footer .f_btm address p {margin-right:30px; margin-bottom:10px; font-weight: 500;}
footer .f_btm address p:last-child {margin-right:0;}
footer .f_btm .copy {
    text-align:center; margin-top:10px; color:#aaa;
}