/* main */
main {width:100%; margin:0 auto;}
/* main > section 묶음 */
main > section {
    padding:50px 0;
}
/* title 묶음 */
main .title {
    text-align:center;
    padding-bottom:50px;
}
main .title p {
    font-size:1.777rem; letter-spacing:-0.02em;
    font-weight:700;
    font-family: 'Baloo 2', cursive;
}

/* main swiper */
main #main_slide {
    width:100%; height:710px;
}
main #main_slide .swiper-wrapper {}
main #main_slide .swiper-wrapper .swiper-slide {
    display:flex; align-items:center;
}
main #main_slide .swiper-wrapper .slide1 {
    background:url(../images/banner_1.png) no-repeat left;
    background-size:cover;
}
main #main_slide .swiper-wrapper .slide2 {
    background:url(../images/banner_2.png) no-repeat left;
    background-size:cover;
}
main #main_slide .swiper-button-prev {
    width:80px; height:80px; margin-left:20px;
    background:url(../images/icon/prev.png) no-repeat center; background-size:cover;
}
main #main_slide .swiper-button-next {
    width:80px; height:80px; margin-right:20px;
    background:url(../images/icon/next.png) no-repeat center; background-size:cover;
}
main #main_slide .swiper-button-prev::after,
main #main_slide .swiper-button-next::after {display:none;}

/* main .video */
main .video {
    width:calc(100% - 440px); margin:0 auto;
}
main .video iframe {
    width:100%; 
    height:600px; 
}

/* main .event */
main .event {
    width:calc(100% - 440px); margin:0 auto;
    display:flex; flex-flow:column nowrap;
}
main .event .title {}
main .event .title p {color:#E01883;}
main .event .con {}
main .event .con ul {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
main .event .con ul li {width:23%;}
main .event .con ul li a {}
main .event .con ul li a > img {width:100%;}
main .event .con ul li a .store {
    margin-top:20px;
    display:flex; align-items:center;
}
main .event .con ul li a .store img {margin-right:10px;}
main .event .con ul li a .store p {
    letter-spacing:-0.02em; font-weight:500;
    font-family: 'Baloo 2', cursive;
    color:#aaa;
}
main .event .con ul li a .e_title {
    font-size:1.333rem; letter-spacing:-0.02em;
    margin:13px 0;
}
main .event .con ul li a .all_times {
    letter-spacing:-0.02em;
    color:#aaa;
}

/* main .store_delivery */
main .store_delivery {
    display:flex; flex-flow:column nowrap; 
    align-items:center;
    padding:50px 0;
}
main .store_delivery .title {
    display:flex;
}
main .store_delivery .title p:first-child {color:#224289;}
main .store_delivery .title p:nth-child(2) {margin:0 10px;}
main .store_delivery .title p:last-child {color:#E01883;}
main .store_delivery .con {
    display:flex;
}
main .store_delivery .con a {width:50%;}
main .store_delivery .con a img {width:100%;}
main .m_store_delivery {display: none;}

/* main .sns */
main .sns {padding:50px 0 100px 0;}
main .sns .title {}
main .sns .title p {color:#224289;}
main .sns .con {text-align: center;}
main .sns .con a {margin:0 7px;}
main .sns .con a img {border:1px solid #D3C7C0; border-radius:50%; width:80px;}
main .sns .con a img:hover {border:1px solid #f56f98; border-radius:50%;}


/* Tablet */
@media screen and (max-width:1024px) {
    /* main_slide */
    main #main_slide {
        width:100%; height:400px;
    }
    main #main_slide .swiper-button-prev,
    main #main_slide .swiper-button-next {width:50px; height:50px;}
    /* video */
    main .video {
        width:100%; margin:0 auto;
    }
    main .video iframe {
        height:350px;
        padding: 0 50px;
    }
    /* event */
    main .event {
        width:calc(100% - 100px); margin:0 auto;
        display:flex; flex-flow:column nowrap;
    }
    main .event .con ul li a .store p {
        letter-spacing:-0.02em; font-weight:500;
        font-family: 'Baloo 2', cursive;
        color:#aaa;
    }
    main .event .con ul li a .e_title {
        font-size:1rem; letter-spacing:-0.02em;
        margin:13px 0;
    }
    main .event .con ul li a .all_times {
        font-size:0.75rem; letter-spacing:-0.02em;
        color:#aaa;
    }
    /* store_delivery */
}

/* mobail */
@media screen and (max-width:430px) {
    /* main > section 묶음 */
    main > section {
        padding:50px 0;
    }
    /* title 묶음 */
    main .title {
        text-align:center;
        padding-bottom:30px;
    }
    /* main swiper */
    main #main_slide {
        width:430px; height:500px;
    }
    main #main_slide .swiper-wrapper .slide1 {
        background:url(../images/m_banner_1.png) no-repeat center;
        background-size:cover;
    }
    main #main_slide .swiper-wrapper .slide2 {
        background:url(../images/m_banner_2.png) no-repeat center;
        background-size:cover;
    }
    main #main_slide .swiper-button-prev,
    main #main_slide .swiper-button-next {display: none;}
    /* video */
    main .video {display: none;}
    /* event */
    main .event {width:calc(100% - 100px); }
    main .event .con ul li {width:48%;}
    main .event .con ul li:nth-child(3),
    main .event .con ul li:nth-child(4) {display: none;}
    main .event .con ul li a .store p {font-size: 0.75rem;}
    main .event .con ul li a .e_title {font-size: 0.75rem; margin:8px 0;}
    /* store_delivery */
    main .store_delivery {display: none;}
    main .m_store_delivery {display: block;}
    main .m_store_delivery > div .tit {
        font-size:1.777rem; letter-spacing:-0.02em;
        font-weight:700;
        font-family: 'Baloo 2', cursive;
        text-align: center;
        margin-bottom: 30px;
    }
    main .m_store_delivery .t_store .tit {color: #224289;}
    main .m_store_delivery .t_delivery .tit {color: #E01883; margin-top:30px;}
    main .m_store_delivery > div a {width:100%;}
    main .m_store_delivery > div a img {width:100%;}
    /* sns */
    main .sns .con a img {width:50px;}
}/* 430 end */