/* main */
main {width:100%; margin:0 auto;}
/* main > section 묶음 */
main > section {
    padding:50px 0;
}
/* title 묶음 */
main .title {
    text-align:center;
    padding-bottom:50px;
}
main .title p {
    font-size:1.777rem; letter-spacing:-0.02em;
    font-weight:700;
}

/* main swiper */
main #main_slide {
    width:100%; height:710px;
}
main #main_slide .swiper-wrapper {}
main #main_slide .swiper-wrapper .swiper-slide {
    display:flex; align-items:center;
}
main #main_slide .swiper-wrapper .slide1 {
    background:url(../images/banner_1.png) no-repeat center;
    background-size:cover;
}
main #main_slide .swiper-wrapper .slide2 {
    background:url(../images/banner_2.png) no-repeat center;
    background-size:cover;
}
main #main_slide .swiper-button-prev {
    width:80px; height:80px; margin-left:20px;
    background:url(../images/icon/prev.png) no-repeat center; background-size:cover;
}
main #main_slide .swiper-button-next {
    width:80px; height:80px; margin-right:20px;
    background:url(../images/icon/next.png) no-repeat center; background-size:cover;
}
main #main_slide .swiper-button-prev::after,
main #main_slide .swiper-button-next::after {display:none;}

/* main .video */
main .video {
    width:calc(100% - 440px); margin:0 auto;
}
main .video iframe {
    width:100%; 
    height:700px; 
}

/* main .event */
main .event {
    width:calc(100% - 440px); margin:0 auto;
    display:flex; flex-flow:column nowrap;
}
main .event .title {}
main .event .title p {color:#E01883;}
main .event .con {}
main .event .con ul {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
main .event .con ul li {width:23%;}
main .event .con ul li a {}
main .event .con ul li a > img {width:100%;}
main .event .con ul li a .store {
    margin-top:20px;
    display:flex; align-items:center;
}
main .event .con ul li a .store img {margin-right:10px;}
main .event .con ul li a .store p {
    letter-spacing:-0.02em; font-weight:500;
}
main .event .con ul li a .e_title {
    font-size:1.333rem; letter-spacing:-0.02em;
    margin:15px 0;
}
main .event .con ul li a .all_times {
    letter-spacing:-0.02em;
}

/* main .store_delivery */
main .store_delivery {
    display:flex; flex-flow:column nowrap; 
    align-items:center;
    padding:50px 0;
}
main .store_delivery .title {
    display:flex;
}
main .store_delivery .title p:first-child {color:#224289;}
main .store_delivery .title p:nth-child(2) {margin:0 10px;}
main .store_delivery .title p:last-child {color:#E01883;}
main .store_delivery .con {
    display:flex;
}
main .store_delivery .con a {width:50%;}
main .store_delivery .con a img {}

/* main .sns */
main .sns {
}
main .sns .title {}
main .sns .title p {color:#224289;}
main .sns .con {text-align: center;}
main .sns .con a {margin:0 7px;}
main .sns .con a img {border:1px solid #D3C7C0; border-radius:50%; width:80px;}
main .sns .con a img:hover {border:1px solid #f56f98; border-radius:50%;}