main {width:calc(100% - 440px); margin:50px auto; position: relative;}
/* main btn */
main .btn {z-index: 900; width:100px;}
main .btn img {width:100%;}
main .prev {position: absolute; top: 200px; left: 0;}
main .next {position: absolute; top: 200px; right: 0;}
/* main .menu */
main .menu {}
main .menu .title {
    display: flex; flex-flow: column nowrap; align-items: center;
    padding:0 0 50px 0;
}
main .menu .title img {margin-bottom:20px;}
main .menu .title .txt {
    display: flex; flex-flow: column nowrap; align-items: center;
}
main .menu .title .txt .eg {
    letter-spacing:-0.02em;
    font-weight: 500; color: #f56f98;
    font-family: 'Baloo 2', cursive;
}
main .menu .title .txt h1 {
    font-size: 3.157rem; letter-spacing:-0.02em;
    margin:10px 0;
}
main .menu .title .txt .tit_info {
    letter-spacing:-0.02em; color: #aaa;
}
main .menu .menu_con {
    display: flex; flex-flow: column nowrap; align-items: center;
    position: relative;
}
main .menu .menu_con img {width:250px;}
main .menu .menu_con button {
    letter-spacing:-0.02em; font-weight:700;
    padding: 20px 80px;
    background: #f56f98; color: #fff;
    border-radius: 30px; z-index: 900;
}
main .menu .menu_con button:hover {
    box-shadow: 1px 1px 5px 1px gray;
}
main .menu .menu_con .line {
    display: block;
    width: 100%; height:2px;
    background: #f56f98;
    position: absolute; bottom: 25px; left: 0;
    z-index: 100;
}
/* main .size */
main .size {
    padding:50px 0;
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
main .size .s_con {
    display: flex; justify-content: space-between;
    width:100%;
}
main .size .s_con > div {
    width:50%;
    display: flex; flex-flow: column nowrap;
    align-items: center; 
}
main .size .s_con > div .s_tit {
    font-size: 1.333rem; letter-spacing:-0.02em;
    font-weight:700;
    font-family: 'Baloo 2', cursive;
    margin-bottom: 30px;
}
main .size .s_con > div ul {
    display: flex; flex-flow: row wrap; justify-content: center;
}
main .size .s_con > div ul li {
    width:40%; height:110px;
    display: flex; align-items: center; justify-content: center;
}
main .size .s_con > div ul li img {margin-right:10px;}
main .size .s_con > div ul li .s_txt {
    display: flex; flex-flow: column nowrap;
}
main .size .s_con > div ul li .s_txt h2 {
    letter-spacing:-0.02em; font-weight: 500;
}
main .size .s_con > div ul li .s_txt .s_info {
    font-size: 0.75rem; letter-spacing:-0.02em;
    line-height: 18px; width:150px;
    margin: 10px 0; font-weight: 500; color: #aaa;
}
main .size .s_con > div ul li .s_txt .price {
    font-size: 0.75rem; letter-spacing:-0.02em;
    font-weight:700; color: #f56f98;
}
main .size button {
    letter-spacing:-0.02em; font-weight: 700; color: #f56f98;
    border: 1px solid #f56f98; border-radius: 30px;
    background:#fff;
    padding: 20px 90px;
    margin-top: 50px;
}
main .size button:hover {box-shadow: 1px 1px 5px 1px gray;}